#timeViewer-container
{
    display: flex;
    position: absolute;

    color: rgb(58, 58, 58);
    // font-family: 'Montserrat', sans-serif;

    font-size: 15vmin;

    width: 100vw;
    height: 75vh;

    #time
    {
        align-self: center;
        margin: 0 auto;
    }

}