#day_progression

    display: flex

    top: 20vh
    width: 100vw

    &__label

        position: absolute
        display: flex

        top: 30vh
        width: 100vw

        &__time

            font-size: 15vmin

            align-self: center
            margin: 0 auto


            color: black

    &__full_page
        position: absolute

        top: 0
        left: 0

        height: 100vh
        background-color: $primary_highlight--darker
