@import './example_viewer/example_viewer.scss';
@import './progressionBar/progressionBar.scss';
@import './time_viewer/timeViewer.scss';
@import './loadFadein/loadFadein.scss';

body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    // background-color: rgb(77, 77, 77);
}